target
ideatarget
.target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea
.bloop
.metals
.env
*.iml
project/metals.sbt
.protogen/
.DS_Store
protos/chief_of_state/target
.target/
.vscode/
